/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

.header {
  max-width: 1140px;
  margin: 0 auto;
  /* visibility: hidden;
  background: rgb(170, 170, 170); */
}

/* shared style */
.primary-color {
  color: #3a3a3a;
}

/* nav style start */
.nav-bar {
  justify-content: space-between;
  align-items: center;
}
.display-flex {
  display: flex;
}
.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.none {
  margin-left: 34px;
  list-style-type: none;
}
.none-2 {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
/* nav style end */

/* hero style start */
.hero {
  display: flex;
  justify-content: space-between;
}
.hero-title {
  font-size: 3.25rem;
  font-weight: 700;
}
.hero-description {
  font-size: 1rem;
  font-weight: 600;
}
.btn {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px 10px 24px;
  border: none;
  border-radius: 41px;
  background: rgb(224, 44, 109);
}
.hero-img {
  background-image: url('./images/Circle\ design.svg');
  background-position: center;
  /* background-repeat: no-repeat; */
  margin-top: 50px;
}
.header-img {
  max-width: 440px;
  /* width: 100%; */
  height: auto;
}
.hero-info-container {
  margin-top: 145px;
}
.sponsor {
  max-width: 1100px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 69px;
  /* border: 3px solid blue; */
  padding: 35px 62px;
  border-top: 3px solid rgba(192, 204, 218, 0.1);
  border-bottom: 3px solid rgba(192, 204, 218, 0.1);
}
/* hero style end */

/* collection section start */
.collection {
  max-width: 1047px;
  height: auto;
  margin: 100px auto;
  /* border: 2px solid black; */
}
.collection-heading {
  font-size: 1.75rem;
  /* border: 2px solid red; */
  text-align: center;
}
.collectin-card {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.popular {
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  max-width: 329px;
  height: auto;
  padding: 17px 15px;
}
.card-img {
  max-width: 300px;
  height: auto;
  /* padding: 14px; */
}
.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 0px;
  color: #18191f;
  /* padding: 14px; */
}
.price-tag {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -24px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.87);
  /* padding: 14px; */
}
.card-description {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(120, 120, 133);
  /* padding: 14px; */
}
/* .btn-2 {
  font-size: 1rem;
} */
.see-more-parent {
  height: auto;
  /* background-color: gray; */
  text-align: end;
  margin-top: 50px;
}
.see-more {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
  font-weight: 700;
  /* border: 2px solid red; */
}
/* start featurd section */
.featured {
  /* border: 2px solid black; */
  display: flex;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.featured-img-inner {
  max-width: 404px;
  height: auto;
}
.featured-title {
  font-size: 2.375rem;
  font-weight: 700;
  color: rgb(10, 8, 38);
}
.featured-description {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(108, 108, 108);
}
.btn-third {
  padding: 10px 24px 10px 24px;
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
/* footer */
.footer {
  max-width: 100%;
  height: auto;
  background-color: #0a0826;
  margin-top: 60px;
  padding: 15px;
}
.footer-text-container {
  margin: 20px auto;
  text-align: center;
  /* background-color: wheat; */
}
.footer-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-description {
  color: #d9dbe1;
  font-size: 0.875rem;
  font-weight: 700;
}
.footer-icon {
  /* border: 2px solid white; */
  text-align: center;
}
.messi {
  color: white;
  margin-right: 5px;
}

/* responsive for mobile */
@media screen and (max-width: 576px) {
  .nav-bar {
    flex-direction: column;
    /* justify-items: center;
    align-items: center; */
    margin: 0px auto;
  }

  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .sponsor {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0px auto;
    max-width: 275px;
    height: auto;
    column-gap: 25px;
  }
  .hero-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header-img {
    width: 100%;
    height: auto;
  }
  .nav-side {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .hero-info-container {
    margin: 0px;
  }
  .hero-title {
    margin-bottom: 30px;
    font-size: 1.75rem;
  }
  .hero-description {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .collectin-card {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    margin: 0px auto;
    max-width: 329px;
  }
  .see-more-parent {
    text-align: end;
    max-width: 325px;
    margin: 32px auto;
  }
  .card-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0px;
    color: #18191f;
  }
  .price-tag {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -24px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.87);
    /* padding: 14px; */
  }
  .card-description {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(120, 120, 133);
  }
  .featured {
    flex-direction: column-reverse;
  }
  .featured-img-inner {
    width: 100%;
    height: auto;
  }
  .featured-container {
    text-align: center;
    margin-bottom: 30px;
  }
}
